.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
}
.header {
  text-align: center;
  margin-bottom: 20px;
  
}
.comment-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-form input,
.comment-form button {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 0;
  
}

.comment-form input {
  /* flex: 1; */
  padding: 0 12px;
  border-right: none;
}

.comment-form button {
  padding: 0 16px;
  background-color: #28a745;
  color: #fff;
  border-left: none;
  cursor: pointer;
}
.comment-container {
  border-left: 2px solid #676161;
  margin-left: 36px;
  padding-left: 16px;
  margin-top: 12px;
}

.comment-box {
  background: #cac9c9;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15), 0 1.5px 4px rgba(0, 0, 0, 0.10);
  margin-top: 12px;
}
.comment-header{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  
}
.reply-toggle-btn{
  font-size: 14px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}
.reply-btn {
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  padding: 5px;
}
.reply-form input{
    width: 50%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 6px;
}
.reply-form button {
  padding: 6px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.timestamp {
  font-size: 0.75rem;
  color: #000000;
  margin-top: 4px;
  display: block;
}